<input type="text" [(ngModel)]="guestName">
<h1>Welcome {{ guestName}} </h1>
<h1>All the products</h1>
<font color="green"><h2>{{successMessage}}</h2></font>
<hr/>
<div [ngStyle]="{'background-color':'green'}">My Product app</div>
<!-- <ul>
    <li *ngFor="let p of products">{{p.productId}} - {{p.productName}} -  {{p.quantityOnHand}} - {{ p.price}} </li>
</ul> -->
<font color="red"><h2>{{errorMessage}}</h2></font>
<table border="10" cellspacing="10" cellpadding="10">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Quantity On Hand</th>
        <th>Price</th>
        <th>Available</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.quantityOnHand}}</td>
        <td>{{product.price}}</td>
        <td *ngIf="productAvailable">Stocks Available</td>
        <td ><button class="btn btn-danger" (click)="removeProduct(product.productId)">Delete</button></td>

    </tr>
</table>
<br/>
<br/>
<h1>People Information</h1>
<table border="10">
    <tr>
        <th>Name</th>
        <th>Country</th>
    </tr>
    <tr *ngFor = "let p of people" [ngStyle]="{'color':getColor(p.country)}">
        <td>{{p.name}}</td>
        <td>{{p.country}}</td>
    </tr>
</table>
<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'">You have selected red </p>
    <p *ngSwitchCase="'green'">You have selected green </p>
    <p *ngSwitchCase="'blue'">You have selected blue </p>
    <p *ngSwitchCase="'yellow'">You have selected yellow </p>

</div>